spacy>=3.0.0



nltk>=3.6.0



PyPDF2>=3.0.0



python-docx>=0.8.11



numpy==1.23.5



PyQt6>=6.4.0



google-generativeai>=0.3.0 



protobuf>=3.19.6,<4.0.0



blis>=0.7.0



thinc>=8.0.0,<8.3.0



grpcio>=1.56.0


